.navbar-custom {
	background-color: white;
    color:black;
    border-radius:0;
}

.navbar {
    margin-bottom: 0;
}


.caption-text   {
	
	
	padding-bottom: 0;
	padding-top: 0;
	text-shadow: 2px 2px 3px black; 
    margin-top: 20px;
   transform: translateY(-100%);
    bottom: initial;

}

.carousel-caption {
	margin-bottom: 10px;
	margin-top:50px;
}


.btn-primary {
	background-color: #a0a1a0;
	border-color: #a0a1a0;

}

.btn-primary:hover {
	background-color: #595c5a;
	border-color: #595c5a;
}


.esacontent {
	text-align: center;
	margin-top: 50px;
}

.carousel-inner{
	/*margin-top:50px;*/
}

.esacontent h3 {
	font-size: 4.5vh;
	line-height: 170%
}

.esacontent p {
	margin-top:20px;
}


/********** Large devices only **********/
/**@media (min-width: 1200px) {
	.item #item1 {
		background-image: url(../img/slide1.jpg);
	}
}
**/

@media (max-width: 768px) { 
        .caption-text h1 {
        	font-size: 30px;
        	;
        	
        
        }
}

@media (max-width: 550px) {
	.caption-text h1 {
		font-size: 20px;
		margin-bottom: 0;
	}
	.caption-text p {
		margin-top: 5px;
	}

	.btn {
		margin-bottom: -30px;
	}

	.caption-text {
		 transform: translateY(-10%);
	}
}

