.navbar-custom {
	background-color: white;
    color:black;
    border-radius:0;
}

.navbar {
    margin-bottom: 0;
}


.caption-text   {
	
	
	padding-bottom: 0;
	padding-top: 0;
	text-shadow: 2px 2px 3px black; 
    margin-top: 20px;
   transform: translateY(-100%);
    bottom: initial;

}

.carousel-caption {
	margin-bottom: 10px;
	margin-top:50px;
}


.btn-primary {
	background-color: #a0a1a0;
	border-color: #a0a1a0;

}

.btn-primary:hover {
	background-color: #595c5a;
	border-color: #595c5a;
}


.esacontent {
	text-align: center;
	margin-top: 50px;
}

.carousel-inner{
	/*margin-top:50px;*/
}

.esacontent {
	margin-bottom: 80px;
}

.esacontent h3 {
	font-size: 4.5vh;
	line-height: 170%
}

.esacontent p {
	margin-top:20px;
}


.container {
    
	margin: auto;
}







.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 301px;
  height: 264px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
 
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.content-text {
	font-size: 110% !important;
}


/********** Large devices only **********/
/**@media (min-width: 1200px) {
	.item #item1 {
		background-image: url(../img/slide1.jpg);
	}
}
**/


@media (min-width: 1200px) {

	.container { 
	width: 1000px; }
}

@media (max-width: 768px) { 
        .caption-text h1 {
        	font-size: 30px;
        	;
        	
        
        }
}

@media (max-width: 550px) {
	.caption-text h1 {
		font-size: 20px;
		margin-bottom: 0;
	}
	.caption-text p {
		margin-top: 5px;
	}

	.btn {
		margin-bottom: -30px;
	}

	.caption-text {
		 transform: translateY(-10%);
	}
}

